<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShoppingOnline</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShoppingOnline.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header>               
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
    
                <div class="dropdown">
                    <button class="btn p-4 border-4 " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/img/Image.jpg" alt="Image" width="80" height="80" class="d-inline-block align-text-top rounded-circle">
                    </button>

                    <ul class="dropdown-menu dropdown-menu-end shadow-lg" style="border-radius: 10px;">
                        <li class="dropdown-item">
                            <a class="nav-link accordion-item" asp-area="" asp-controller="Home" asp-action="Donna">
                                <i class="fas fa-female"></i> Donna
                            </a>
                        </li>

                        <li class="dropdown-item">
                            <a class="nav-link accordion-item" asp-area="" asp-controller="Home" asp-action="Uomo">
                                <i class="fas fa-male"></i> 
                                Uomo
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link accordion-item" asp-area="" asp-controller="Home" asp-action="Bambina">
                                <i class="fas fa-child"></i> Bambina
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link accordion-item" asp-area="" asp-controller="Home" asp-action="Bambino">
                                <i class="fas fa-child"></i> Bambino
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link accordion-item" asp-area="">Esci</a>
                        </li>
                    </ul>
                </div>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Scarpe" asp-action="Index">Catalogo scarpe</a>
                        </li>
                       
                    </ul>

                    <form class="d-flex ms-auto" role="search" asp-controller="Scarpe" asp-action="Search" method="get">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="TestoDaCercare">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>

                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ShoppingOnline - <a asp-area="" asp-controller="Home" asp-action="Catalogo_Scarpe">Catalogo scarpe</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
