@{
    Layout = "_Layout";
}

@model List<Scarpa>

@foreach (var scarpa in Model)
{
    <div class="card" style="width: 18rem;">
        <img src="@scarpa.Immagine" class="card-img-top" alt="@scarpa.Brand">
        <div class="card-body">
            <h5 class="card-title">@scarpa.Brand</h5>
            <p class="card-text">€@scarpa.Prezzo</p>
        </div>
    </div>
}